html {
    height: 100%;
    background: #333333 url("media/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

h1 {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 40px;
    font-weight: normal;
    color: #ffef62;
    text-align: center;
    text-shadow: 0 0 12px rgba(255, 219, 98, 0.35);
}

a.header {
    text-decoration-line: none;
    color: #ffef62;
}

.subtitle {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 17px;
    text-shadow: 0 0 5px rgba(255, 219, 98, 0.35);
    color: #ffef62;
    text-align: right;
    margin: -1em 0em 5em 0em;
}

h2 {
    text-transform: uppercase;
    font-size: 36px;
    margin: 64px 0px 0px 0px;
}

.wrapper {
    width: 972px;
    margin: 0 auto;
    display: block;
}

a {
    color: #61d855;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

a:hover {
    text-decoration-style: solid;
}

a:active {
    color: #fff;
}

hr.footsep-begin {
    border-top: 1px dashed #222222;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 42px;
    margin-bottom: 2px;
}

hr.footsep-end {
    border-top: none;
    border-bottom: 1px dashed #222222;
    border-right: none;
    border-left: none;
    margin-top: 2px;
    margin-bottom: 10px;
}

hr.formsep {
    border: 1px solid #999;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 1px;
}

.footer {
    width: 100%;
    margin: 0;
    padding: 10px 0px 10px 0px;
    background: rgba(0, 0, 0, 0.25);
}

.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-box {
    background-color: #666;
    position: fixed;
    width: 450px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 20px;
    border: 1px solid #999;
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.667);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover, .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a.addr {
    color: #fff;
    text-decoration: none;
}

a.addr:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

a:hover {
    text-decoration-style: solid;
}

.mediabox {
    background-color: #222222;
    margin-top: 1rem;
    box-shadow: -1rem 0 3rem #000;
}

.mediabox-bright {
    background-color: #333333;
    padding: 15px;
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 50%; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 50%; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.card-container {
    margin-top: 40px;
    height: 300px;
    width: 600px;
    display: flex;
}

.card {
    display: flex;
    height: 273px;
    width: 490px;
    padding: 10px;
    background-color: #222222;
    border-radius: 10px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.card:not(:first-child) {
    margin-left: -450px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 440px;
    transition: 0.4s ease-out;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0;
    margin: 0;
}
